.card
  margin: 20px
  padding: 20px
  background-color: #fff
  box-shadow: 0 4px 7px 2px rgba(0,0,0,0.14), 0 3px 10px 5px rgba(0,0,0,0.12), 0 4px 6px -7px rgba(0,0,0,0.2)
  border-radius: 15px
  // transform: scale(1.05)