body{
  background: rgb(19,173,192) !important;
  background: -moz-linear-gradient(left, rgb(19,173,192) 0%, rgb(32,124,202) 47%, rgb(17,150,166) 100%) !important;
  background: -webkit-linear-gradient(left, rgb(19,173,192) 0%,rgb(32,124,202) 47%,rgb(17,150,166) 100%) !important; 
  background: linear-gradient(to right, rgb(19,173,192) 0%,rgb(32,124,202) 47%,rgb(17,150,166) 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#13adc0', endColorstr='#1196a6',GradientType=1 ) !important;
}

*{
  outline: none;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
